#mainDiv {
  width: 300px;
  height: 350px;
}

#displayDiv {
  width: 80%;
  height: 10%;
  margin-left: 10%;
  margin-top: 2%;
  font-size: 25px;
  text-align: right;
}

#buttonsDiv {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

#equals {
  width: 95%;
}

.column {
  margin: 6px;
  width: 20%;
  height: 55px;
  font-size: 25px;
  text-align: center;
  outline: none;
}
